<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <runtime>
    <gcServer enabled="true" />
    <generatePublisherEvidence enabled="false" />
  </runtime>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="10" />
    </connectionManagement>
  </system.net>
  <MRSConfiguration MaxRetries="40" MaxCleanupRetries="480" MaxStallRetryPeriod="00:15:00" RetryDelay="00:00:30" MaxMoveHistoryLength="5" MaxActiveMovesPerSourceMDB="20" />
  <appSettings>
    <!-- Mdb latency health threshold values in msec.  Valid range is from 0-1000. -->
    <add key="MdbFairUnhealthyLatencyThreshold" value="20" />
    <add key="MdbHealthyFairLatencyThreshold" value="10" />
    <!-- Maximum delay that WLM returns under "Fair" database resource health in msec. Valid range is from 0-60000 -->
    <add key="MdbLatencyMaxDelay" value="60000" />
    <add key="LogEnabled" value="true" />
    <add key="LogDirectoryPath" value="C:\Program Files\Microsoft\Exchange Server\V15\Logging\MailboxReplicationService\" />
    <add key="LogFileAgeInDays" value="30" />
    <add key="LogDirectorySizeLimit" value="100MB" />
    <add key="LogFileSizeLimit" value="10MB" />
    <add key="LogCacheSizeLimit" value="2MB" />
    <add key="LogFlushIntervalInSeconds" value="60" />
    <add key="Empty" value="notrally" />
    <add key="FoolMe" value="really" xmlns="" />
    <add key="FoolMe" value="really" xmlns="" />
  </appSettings>
</configuration>